body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 50px;
    color: #333;
    font-size: 2.5em;
}

.form-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.form-group label {
    font-size: 1.2em;
    margin-right: 15px;
    color: #333;
}

.form-group input[type="file"] {
    padding: 8px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.form-group input[type="file"]:hover {
    border-color: #007BFF;
}

#prev-slide, #next-slide {
    padding: 10px 20px;
    margin: 20px 10px;
    font-size: 1.2em;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#prev-slide:hover, #next-slide:hover {
    background-color: #0056b3;
}

#pdf-render {
    display: block;
    margin: 30px auto;
    border: 1px solid #ddd;
    max-width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Center the buttons and form vertically */
div {
    text-align: center;
}